In [1]:
import requests

In [2]:
url = " https://api.spacexdata.com/v4/cores"
response = requests.get(url)

response=response.json()
print(response[6])

{'block': 1, 'reuse_count': 0, 'rtls_attempts': 0, 'rtls_landings': 0, 'asds_attempts': 0, 'asds_landings': 0, 'last_update': 'First flight of Dragon', 'launches': ['5eb87cdeffd86e000604b330'], 'serial': 'B0004', 'status': 'lost', 'id': '5e9e289ef35918187c3b2629'}

In [3]:
import numpy as np
import pandas as pd
import requests
import json
 
#请求地址
url = " https://api.spacexdata.com/v4/launches/past"
response = requests.get(url)

response=response.json()

In [4]:
import csv
import json
import sys
import codecs

jsonData = response
csvfile = open('C:/Users/ROG/Desktop/DATA7901/luanch.csv', 'w', newline='')  # python3下
writer = csv.writer(csvfile, delimiter=',')
keys = ['FlightNumber','rocketid','Date','Flights', 'GridFins', 'Reused', 'Legs', 
        'LandingPad', 'Outcome', 'LandingType','Coresid','payloadsid']
writer.writerow(keys)

for line in jsonData:
    cores=line['cores']
    Flights=cores[0]['flight']
    GridFins=cores[0]['gridfins']
    Reused=cores[0]['reused']
    Legs=cores[0]['legs']
    Outcome=cores[0]['landing_success']
    LandingType=cores[0]['landing_type']
    Coresid=cores[0]['core']
    writer.writerow([line['flight_number'],line['rocket'],line['date_utc'],Flights,GridFins,Reused,Legs,
                     line['launchpad'],Outcome,LandingType,Coresid,line['id']]
                     )
csvfile.close()

In [5]:
url1 = " https://api.spacexdata.com/v4/cores"
response1 = requests.get(url1)

response1=response1.json()

jsonData1 = response1
csvfile = open('C:/Users/ROG/Desktop/DATA7901/cores.csv', 'w', newline='')  
writer = csv.writer(csvfile, delimiter=',')
keys = ['Block','ReusedCount','serial', 'Coresid']
writer.writerow(keys)

for line in jsonData1:
    writer.writerow([line['block'],line['reuse_count'], line['serial'],line['id']]
                     )
csvfile.close()

In [6]:
url2 = " https://api.spacexdata.com/v4/launchpads"
response2 = requests.get(url2)

response2=response2.json()

jsonData2 = response2
csvfile = open('C:/Users/ROG/Desktop/DATA7901/luanchpad.csv', 'w', newline='')  
writer = csv.writer(csvfile, delimiter=',')
keys = ['LaunchSite','Longitude','Latitude', 'LandingPad']
writer.writerow(keys)

for line in jsonData2:
    writer.writerow([line['name'],line['longitude'], line['latitude'],line['id']]
                     )
csvfile.close()

In [7]:
url3 = " https://api.spacexdata.com/v4/rockets"
response3 = requests.get(url3)

response3=response3.json()

jsonData3 = response3
csvfile = open('C:/Users/ROG/Desktop/DATA7901/rocket.csv', 'w', newline='')
writer = csv.writer(csvfile, delimiter=',')
keys = ['Rocket Booster', 'rocketid']
writer.writerow(keys)

for line in jsonData3:
    writer.writerow([line['name'],line['id']]
                     )
csvfile.close()

In [8]:
url4 = " https://api.spacexdata.com/v4/payloads"
response4 = requests.get(url4)

response4=response4.json()

jsonData4 = response4
csvfile = open('C:/Users/ROG/Desktop/DATA7901/Payloads.csv', 'w', newline='')
writer = csv.writer(csvfile, delimiter=',')
keys = ['Orbit','PayloadMass', 'payloadsid']
writer.writerow(keys)

for line in jsonData4:
    writer.writerow([line['orbit'], line['mass_kg'],line['launch']]
                     )
csvfile.close()

In [9]:
luanch=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/luanch.csv')
cores=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/cores.csv')
launchpads=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/luanchpad.csv')
payloads=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/Payloads.csv')
rocket=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/rocket.csv')

In [10]:
luanch=luanch.reset_index(drop=True)
cores=cores.reset_index(drop=True)
launchpads=launchpads.reset_index(drop=True)
payloads=payloads.reset_index(drop=True)

In [11]:
df_merged=pd.merge(left=luanch,right=cores,on='Coresid')
df_merged=pd.merge(left=df_merged,right=launchpads,on='LandingPad')
df_merged=pd.merge(left=payloads,right=df_merged,on='payloadsid')
df_merged=pd.merge(left=rocket,right=df_merged,on='rocketid')

In [12]:
df_merged

,Rocket Booster,rocketid,Orbit,PayloadMass,payloadsid,FlightNumber,Date,Flights,GridFins,Reused,...,LandingPad,Outcome,LandingType,Coresid,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude
0,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,20.0,5eb87cd9ffd86e000604b32a,1,2006-03-24T22:30:00.000Z,1,False,False,...,5e9e4502f5090995de566f86,NaN,NaN,5e9e289df35918033d3b2623,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721
1,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,NaN,5eb87cdaffd86e000604b32b,2,2007-03-21T01:10:00.000Z,1,False,False,...,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef35918416a3b2624,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721
2,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,NaN,5eb87cdbffd86e000604b32c,3,2008-08-03T03:34:00.000Z,1,False,False,...,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591814873b2625,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721
3,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,NaN,5eb87cdbffd86e000604b32c,3,2008-08-03T03:34:00.000Z,1,False,False,...,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591814873b2625,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721
4,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,165.0,5eb87cdbffd86e000604b32d,4,2008-09-28T23:15:00.000Z,1,False,False,...,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591855dc3b2626,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,2.0,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,...,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
212,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,1.0,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,...,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
213,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,1.5,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,...,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
214,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,1.5,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,...,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
215,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,1.0,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,...,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058

In [13]:
df_merged1=df_merged.drop(columns='PayloadMass')
df_merged1

,Rocket Booster,rocketid,Orbit,payloadsid,FlightNumber,Date,Flights,GridFins,Reused,Legs,LandingPad,Outcome,LandingType,Coresid,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude
0,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cd9ffd86e000604b32a,1,2006-03-24T22:30:00.000Z,1,False,False,False,5e9e4502f5090995de566f86,NaN,NaN,5e9e289df35918033d3b2623,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721
1,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdaffd86e000604b32b,2,2007-03-21T01:10:00.000Z,1,False,False,False,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef35918416a3b2624,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721
2,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdbffd86e000604b32c,3,2008-08-03T03:34:00.000Z,1,False,False,False,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591814873b2625,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721
3,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdbffd86e000604b32c,3,2008-08-03T03:34:00.000Z,1,False,False,False,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591814873b2625,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721
4,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdbffd86e000604b32d,4,2008-09-28T23:15:00.000Z,1,False,False,False,5e9e4502f5090995de566f86,NaN,NaN,5e9e289ef3591855dc3b2626,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
212,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
213,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
214,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058
215,Falcon Heavy,5e9d0d95eda69974db09d1ed,LEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,5e9e4502f509094188566f88,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058

In [14]:
df_merged1=df_merged1.drop_duplicates('payloadsid',keep='first')

In [15]:
df_merged2=df_merged.groupby(['Date'])[['PayloadMass']].sum()
df_merged3=pd.merge(left=df_merged1,right=df_merged2,on='Date')
df_merged3

,Rocket Booster,rocketid,Orbit,payloadsid,FlightNumber,Date,Flights,GridFins,Reused,Legs,...,Outcome,LandingType,Coresid,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude,PayloadMass
0,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cd9ffd86e000604b32a,1,2006-03-24T22:30:00.000Z,1,False,False,False,...,NaN,NaN,5e9e289df35918033d3b2623,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721,20.0
1,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdaffd86e000604b32b,2,2007-03-21T01:10:00.000Z,1,False,False,False,...,NaN,NaN,5e9e289ef35918416a3b2624,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721,0.0
2,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdbffd86e000604b32c,3,2008-08-03T03:34:00.000Z,1,False,False,False,...,NaN,NaN,5e9e289ef3591814873b2625,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721,0.0
3,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdbffd86e000604b32d,4,2008-09-28T23:15:00.000Z,1,False,False,False,...,NaN,NaN,5e9e289ef3591855dc3b2626,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721,165.0
4,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,5eb87cdcffd86e000604b32e,5,2009-07-13T03:35:00.000Z,1,False,False,False,...,NaN,NaN,5e9e289ef359184f103b2627,NaN,0,Merlin3C,Kwajalein Atoll,167.743129,9.047721,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,62a9f89a20413d2695d8871a,184,2022-09-11T01:10:00.000Z,14,True,True,True,...,True,ASDS,5e9e28a7f3591817f23b2663,5.0,13,B1058,KSC LC 39A,-80.603956,28.608058,14760.0
180,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,63161329ffc78f3b8567070b,185,2022-09-17T01:05:00.000Z,6,True,True,True,...,True,ASDS,60b800111f83cc1e59f16438,5.0,5,B1067,CCSFS SLC 40,-80.577366,28.561857,13260.0
181,Falcon Heavy,5e9d0d95eda69974db09d1ed,HCO,5eb87d13ffd86e000604b360,55,2018-02-06T20:45:00.000Z,1,True,False,True,...,False,ASDS,5e9e28a5f359187f703b2653,3.0,0,B1033,KSC LC 39A,-80.603956,28.608058,1350.0
182,Falcon Heavy,5e9d0d95eda69974db09d1ed,GTO,5eb87d2dffd86e000604b376,77,2019-04-11T22:35:00.000Z,1,True,False,True,...,True,ASDS,5e9e28a6f3591897453b265f,5.0,0,B1055,KSC LC 39A,-80.603956,28.608058,6000.0
183,Falcon Heavy,5e9d0d95eda69974db09d1ed,MEO,5eb87d35ffd86e000604b37a,81,2019-06-25T03:30:00.000Z,1,True,False,True,...,False,ASDS,5e9e28a7f3591878063b2661,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058,2838.0

In [16]:
df_merged3=df_merged3.drop(columns=['LandingPad','Coresid','payloadsid'])

In [17]:
df_merged3.reset_index(drop=True)
columns = list(df_merged3)
columns.insert(0, columns.pop(columns.index('FlightNumber')))
df_merge4 = df_merged3.loc[:, columns]
df_merge4

,FlightNumber,Rocket Booster,rocketid,Orbit,Date,Flights,GridFins,Reused,Legs,Outcome,LandingType,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude,PayloadMass
0,1,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2006-03-24T22:30:00.000Z,1,False,False,False,NaN,NaN,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721,20.0
1,2,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2007-03-21T01:10:00.000Z,1,False,False,False,NaN,NaN,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721,0.0
2,3,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2008-08-03T03:34:00.000Z,1,False,False,False,NaN,NaN,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721,0.0
3,4,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2008-09-28T23:15:00.000Z,1,False,False,False,NaN,NaN,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721,165.0
4,5,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2009-07-13T03:35:00.000Z,1,False,False,False,NaN,NaN,NaN,0,Merlin3C,Kwajalein Atoll,167.743129,9.047721,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,184,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-09-11T01:10:00.000Z,14,True,True,True,True,ASDS,5.0,13,B1058,KSC LC 39A,-80.603956,28.608058,14760.0
180,185,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-09-17T01:05:00.000Z,6,True,True,True,True,ASDS,5.0,5,B1067,CCSFS SLC 40,-80.577366,28.561857,13260.0
181,55,Falcon Heavy,5e9d0d95eda69974db09d1ed,HCO,2018-02-06T20:45:00.000Z,1,True,False,True,False,ASDS,3.0,0,B1033,KSC LC 39A,-80.603956,28.608058,1350.0
182,77,Falcon Heavy,5e9d0d95eda69974db09d1ed,GTO,2019-04-11T22:35:00.000Z,1,True,False,True,True,ASDS,5.0,0,B1055,KSC LC 39A,-80.603956,28.608058,6000.0
183,81,Falcon Heavy,5e9d0d95eda69974db09d1ed,MEO,2019-06-25T03:30:00.000Z,1,True,False,True,False,ASDS,5.0,0,B1057,KSC LC 39A,-80.603956,28.608058,2838.0

In [18]:
m=0
for i in df_merge4['Date']:
    a,b=i.split('T')
    print(a)
    df_merge4['Date'][m]=a
    m+=1

2006-03-24
2007-03-21
2008-08-03
2008-09-28
2009-07-13
2010-06-04
2010-12-08
2012-05-22
2012-10-08
2013-03-01
2013-09-29
2013-12-03
2014-01-06
2014-04-18
2014-07-14
2014-08-05
2014-09-07
2014-09-21
2015-01-10
2015-02-11
2015-03-02
2015-04-14
2015-04-27
2015-06-28
2015-12-22
2016-01-17
2016-03-04
2016-04-08
2016-05-06
2016-05-27
2016-06-15
2016-07-18
2016-08-14
2016-09-01
2017-01-14
2017-02-19
2017-03-16
2017-03-30
2017-05-01
2017-05-15
2017-06-03
2017-06-23
2017-06-25
2017-07-05
2017-08-14
2017-08-24
2017-09-07
2017-10-09
2017-10-11
2017-10-30
2017-12-15
2017-12-23
2018-01-08
2018-01-31
2018-02-22
2018-03-06
2018-03-30
2018-04-02
2018-04-18
2018-05-11
2018-05-22
2018-06-04
2018-06-29
2018-07-22
2018-07-25
2018-08-07
2018-09-10
2018-10-08
2018-11-15
2018-12-03
2018-12-05
2018-12-23
2019-01-11
2019-02-22
2019-03-02
2019-05-04
2019-05-24
2019-06-12
2019-07-25
2019-08-06
2019-11-11
2019-12-05
2019-12-17
2020-01-07
2020-01-19
2020-01-29
2020-02-17
2020-03-07
2020-03-18
2020-04-22
2020-06-04
2020-05-30
2020-06-13
2020-08-30
2020-07-20
2020-06-30
2020-12-13
2020-11-05
2020-11-16
2021-06-17
2020-12-06
2021-01-08
2020-08-07
2020-08-18
2020-11-21
2020-09-03
2020-10-06
2020-10-18
2020-10-24
2020-12-19
2020-11-25
2021-01-20
2021-03-04
2021-01-24
2022-06-18
2021-04-23
2021-11-11
2021-06-06
2021-06-03
2021-12-19
2021-11-24
2021-08-29
2021-02-04
2021-02-16
2021-03-11
2021-03-14
2021-03-24
2021-04-07
2021-04-29
2021-05-04
2021-05-15
2021-05-09
2021-05-26
2021-09-16
2021-06-30
2021-09-14
2021-12-01
2021-12-21
2022-01-31
2022-01-13
2021-11-13
2021-12-18
2021-12-09
2022-01-06
2022-01-19
2022-02-03
2022-04-08
2022-02-21
2022-02-25
2022-03-03
2022-03-09
2022-03-19
2022-04-01
2022-04-21
2022-04-17
2022-04-27
2022-06-08
2022-05-25
2022-07-15
2022-06-29
2022-05-14
2022-05-13
2022-04-29
2022-05-06
2022-05-18
2022-06-01
2022-06-19
2022-07-07
2022-07-11
2022-07-17
2022-07-21
2022-07-24
2022-08-09
2022-08-19
2022-08-12
2022-08-04
2022-08-31
2022-08-28
2022-09-05
2022-09-11
2022-09-17
2018-02-06
2019-04-11
2019-06-25

<ipython-input-18-e7b5c996997c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge4['Date'][m]=a

In [19]:
df_merge4=df_merge4.sort_values(by=['FlightNumber'])
df_merge4['Outcome']=df_merge4['Outcome'].fillna(value='None')
df_merge4['LandingType']=df_merge4['LandingType'].fillna(value='None')

In [20]:
df_merge5=df_merge4
df_merge5

,FlightNumber,Rocket Booster,rocketid,Orbit,Date,Flights,GridFins,Reused,Legs,Outcome,LandingType,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude,PayloadMass
0,1,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2006-03-24,1,False,False,False,None,None,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721,20.0
1,2,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2007-03-21,1,False,False,False,None,None,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721,0.0
2,3,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2008-08-03,1,False,False,False,None,None,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721,0.0
3,4,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2008-09-28,1,False,False,False,None,None,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721,165.0
4,5,Falcon 1,5e9d0d95eda69955f709d1eb,LEO,2009-07-13,1,False,False,False,None,None,NaN,0,Merlin3C,Kwajalein Atoll,167.743129,9.047721,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,181,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-08-28,2,True,True,True,True,ASDS,5.0,1,B1069,KSC LC 39A,-80.603956,28.608058,13260.0
176,182,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-08-31,7,True,True,True,True,ASDS,5.0,6,B1063,VAFB SLC 4E,-120.610829,34.632093,13260.0
178,183,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-09-05,7,True,True,True,True,ASDS,5.0,6,B1052,CCSFS SLC 40,-80.577366,28.561857,13440.0
179,184,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-09-11,14,True,True,True,True,ASDS,5.0,13,B1058,KSC LC 39A,-80.603956,28.608058,14760.0
180,185,Falcon 9,5e9d0d95eda69973a809d1ec,VLEO,2022-09-17,6,True,True,True,True,ASDS,5.0,5,B1067,CCSFS SLC 40,-80.577366,28.561857,13260.0

In [21]:
df_merge4.to_csv('C:/Users/ROG/Desktop/DATA7901/out1.csv')
df_merge5.to_csv('C:/Users/ROG/Desktop/DATA7901/out2.csv')

In [22]:
final=pd.read_csv('C:/Users/ROG/Desktop/DATA7901/out1.csv')
lok=0
for i in final['PayloadMass']:
    if i ==0 and '0':
        final.loc[lok,'PayloadMass']=None
    lok+=1

In [24]:
final.to_csv('C:/Users/ROG/Desktop/DATA7901/out3.csv')

In [27]:
final=final.drop(columns=['rocketid','Unnamed: 0'])

In [28]:
final

,FlightNumber,Rocket Booster,Orbit,Date,Flights,GridFins,Reused,Legs,Outcome,LandingType,Block,ReusedCount,serial,LaunchSite,Longitude,Latitude,PayloadMass
0,1,Falcon 1,LEO,2006-03-24,1,False,False,False,None,None,NaN,0,Merlin1A,Kwajalein Atoll,167.743129,9.047721,20.0
1,2,Falcon 1,LEO,2007-03-21,1,False,False,False,None,None,NaN,0,Merlin2A,Kwajalein Atoll,167.743129,9.047721,NaN
2,3,Falcon 1,LEO,2008-08-03,1,False,False,False,None,None,NaN,0,Merlin1C,Kwajalein Atoll,167.743129,9.047721,NaN
3,4,Falcon 1,LEO,2008-09-28,1,False,False,False,None,None,NaN,0,Merlin2C,Kwajalein Atoll,167.743129,9.047721,165.0
4,5,Falcon 1,LEO,2009-07-13,1,False,False,False,None,None,NaN,0,Merlin3C,Kwajalein Atoll,167.743129,9.047721,200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,181,Falcon 9,VLEO,2022-08-28,2,True,True,True,True,ASDS,5.0,1,B1069,KSC LC 39A,-80.603956,28.608058,13260.0
180,182,Falcon 9,VLEO,2022-08-31,7,True,True,True,True,ASDS,5.0,6,B1063,VAFB SLC 4E,-120.610829,34.632093,13260.0
181,183,Falcon 9,VLEO,2022-09-05,7,True,True,True,True,ASDS,5.0,6,B1052,CCSFS SLC 40,-80.577366,28.561857,13440.0
182,184,Falcon 9,VLEO,2022-09-11,14,True,True,True,True,ASDS,5.0,13,B1058,KSC LC 39A,-80.603956,28.608058,14760.0
183,185,Falcon 9,VLEO,2022-09-17,6,True,True,True,True,ASDS,5.0,5,B1067,CCSFS SLC 40,-80.577366,28.561857,13260.0